* {
  box-sizing:border-box;
  margin: 0;
}
html, body {
  margin: 0;
}

html {
  background-color: white;
  color: white;
  font-family:'Impact', sans-serif;
  font-weight: 300;
  font-size: 24px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black
}

a:hover, a:active, a:visited  {
  color: red;
  text-decoration: none;
}

header {
  background-color: black;
  height:50px;
  color: white;
  border: 1rem;
  padding-left: 1rem;
  padding-top: .5rem;
}
header img {
  height: 22px;
  float: left;
}

header nav a {
  display: inline-block;
  font-family: 'Helvetica', sans-serif;
  color: white;
  text-decoration: none;
  float: right;
  font-weight: 600;
  font-size: 22px;
  clear: right;
  padding-right: 3rem;
}

.boston {
  position: relative;
  text-align: center;
  color: white;
}
.boston img {
  opacity: .8;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 25vw;
  }

div.campus{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto minmax(500px, auto);
  grid-template-areas:
  "header header"
  "content content"
  "map map";
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #f6f6f6;
  font-family: 'Georgia', serif;
  font-size: 20px;
  color: black;
  grid-gap: 1rem;
}

iframe {
  height: 100%;
  width:100%;
}

h2.header {
  grid-area: header;
  padding-top: 1rem;
  padding-left: 2rem;
}

div.content {
  grid-area: content;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight:400;
  font-size: 20px;
}

div.hours {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

div.parking {
  padding-right: 1rem;
}

div.pheader{
 padding-top: 1rem;
 font-weight: 600;
 text-decoration: none;
}


.contact{
  display:flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 3rem;
  width: 8rem;
  background: #f6f6f6;
  color: #de3535;
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-color: #de3535;
  border-radius: 4px;
  border-style: solid;
}

a.contact:hover {
  background: #de3535;
  color: white;
}

div.map {
  grid-area: map;
  justify-content: center;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

div.faq {
  font-family: 'Georgia', serif;
  font-size: 18px;
  color: black;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

h2.header1 {
  margin-left: 2rem;
  padding-bottom: 1rem;
}
div.question {
  padding:1rem;
  padding-top: .75rem;
  margin-left: 1rem;
  padding-bottom: .75rem;
}

div.question:hover {
  font-weight: 600;
  cursor: pointer;
  margin-right: 5rem;
}

div.answer {
  background: #f6f6f6;
  padding:1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

div.cwe {
  color:#de3535;
  font-size: 20px;
  font-weight:bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 3rem;

}
div.cwetext {
 padding-bottom: 1rem;
 padding-left: 2rem;
 }

div.immersive {
  color: #de3535;
  font-weight:bold;
  font-size: 20px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 3rem;
}

 div.immersivetext {
  padding-bottom: 1rem;
  padding-left: 3rem;
  }

div.other{
  color: #de3535;
  font-weight:bold;
  font-size: 20px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 3rem;
  }

div.othertext {
  padding-bottom: 1rem;
  padding-left: 3rem;
  }


@media (max-width: 800px) {
  .large {
    display:none;
  }
  .small {
    display: initial;
  }
  main {
    width: 100%;
  }
  aside {
    width: 100%;
  }
}

@media (min-width: 800px){

  div.campus{
    grid-template-rows: auto auto;
    grid-template-areas:
    "header header"
    "content map";
    margin-left: 3rem;
    margin-right: 3rem;
  }

  div.faq{
    margin: 0 3rem;
  }
}
